<div class="bg-white border" *ngIf="(photo$ | async) as photo">
    <div class="row">
        <div class="col-lg-8">
        <ap-photo [url]="photo?.url" [description]="photo?.description"></ap-photo>
        </div>

        <div class="col-lg-4">
            <small>
                <p class="text-left break-word">{{photo?.description}}</p>
                <hr>
            </small>

            <ap-photo-comments 
                *ngIf="photo.allowComments; else warning"
                [photoId]="photoId"
            ></ap-photo-comments>
            <ng-template #warning>
                <p>User has disabled comments for this photo!</p>
            </ng-template>
        </div>
    </div>
</div>